.screen {
  width: calc(100% - 9.313725490196078%);
  position: absolute;
  height: calc(100% - 4.330818026159389%);
  top: 2.165409013079694%;
  z-index: 3;
  background: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 1px;
  box-shadow: 0 0 0 3px #111;
  isolation: isolate;
  transform: translateZ(1px);
}

.iphone-14 {
  display: inline-block;
  position: relative;
  box-sizing: content-box !important;
  width: 100%;
  padding-top: 215.0735294117647%;
  background: #fdfdfd;
  box-shadow: inset 0 0 11px 0 black;
  border-radius: 16.176470588235297% / 7.523696557220071%;
}

.iphone-14-content {
  padding: 4.656862745098039%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.overflow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16.176470588235297% / 7.523696557220071%;
  overflow: hidden;
}

.shadow {
  border-radius: 100%;
  width: 90px;
  height: 90px;
  position: absolute;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(255, 255, 255, 0) 60%
  );
}

.shadow--tl {
  top: -20px;
  left: -20px;
}

.shadow--tr {
  top: -20px;
  right: -20px;
}

.shadow--bl {
  bottom: -20px;
  left: -20px;
}

.shadow--br {
  bottom: -20px;
  right: -20px;
}

.iphone-14::before {
  width: calc(100% - 1.96078431372549%);
  height: calc(100% - 0.9113628092132505%);
  position: absolute;
  top: 0.4553734061930783%;
  content: "";
  left: 0.980392156862745%;
  border-radius: 16.176470588235297% / 7.523696557220071%;
  background: black;
  z-index: 1;
}

.screen {
  border-radius: 13.480392156862745% / 6.26890592058906%;
  box-shadow: none;
  padding-top: calc(6.834170854271357% + 2px);
}

.volume,
.volume:before,
.volume:after,
.sleep {
  width: 3px;
  background: #b5b5b5;
  position: absolute;
}

.volume {
  left: -3px;
  top: 13.205353268146214%;
  height: 3.645317171430469%;
}

.volume::before {
  height: 221.875%;
  top: 180%;
  content: "";
  left: 0;
}

.volume::after {
  height: 221.875%;
  top: 540%;
  content: "";
  left: 0;
}

.sleep {
  height: 12.083215340671318%;
  top: 28.953553474618695%;
  right: -3px;
}

.camera {
  width: 5.645161290322581%;
  height: 19.444444444444443%;
  top: 41.66666666666667%;
  border-radius: 100%;
  position: absolute;
  left: 82.25806451612904%;
  background: #0d4d71;
}

.notch {
  position: absolute;
  width: 30.392156862745096%;
  height: 4.102082098522671%;
  top: 3.42024555027674%;
  left: 34.803921568627456%;
  z-index: 4;
  background: black;
  border-bottom-left-radius: 19.35483870967742% 66.66666666666667%;
  border-bottom-right-radius: 19.35483870967742% 66.66666666666667%;
  border-top-left-radius: 19.35483870967742% 66.66666666666667%;
  border-top-right-radius: 19.35483870967742% 66.66666666666667%;
}
